@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Student name: @ViewData["Student"]</p>
<p>@ViewData["Student"] </p>

<address>
    <strong>More information: </strong> <a href="http://www.terra.com.br"> Site do Terra</a>
</address>